* {
    margin: 20px auto;
    margin-top: 20px;

}


header {
    background-color: #FFC8AE;
    border: 5px solid #BD081C;
    width: 1264px;
    height: 224px;
}

nav {
    background-color: #e0ffa8;
    border: 3px solid #598527;
    width: 1166px;
    height: 111px;
}

main {
    background-color: #FFC8AE;
    border: 5px solid #BD081C;
    width: 1264px;
    height: 679px;
    display: flex;
}


article {
    background-color: #dddddd;
    border: 5px solid #464464;
    width: 980px;
    height: 561px;
    margin-top: 50px;
    margin-left: -20px 
}


section {
    background-color: #ccffff;
    border: 5px solid #0f62a4;
    width: 889px;
    height: 122px;
}


aside {
    background-color: #dddddd;
    border: 5px solid #464464;
    width: 165px;
    height: 561px;
    margin-top: 50px;
}


footer {
    background-color: #ffc8ae;
    border: 5px solid #BD081C;
    width: 1264px;
    height: 224px;
}


p {
    color: #ffff;
    width: 100px;
    height: 20px;
    padding: 5px 0;
    text-align: center;
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px;
}

header>p,
main>p,
footer>p {
    background-color: #BD081C;
}

nav>p {
    background-color: #598527;
}

section>p {
    background-color: #0f62a4;
}

article>p{
    background-color: #464464;
} 

aside> p{
  background-color: #464464;
  width: 165px;  
}